[submodule "bee-ui"]
	path = bee-ui
	url = git@github.com:ferditatlisu/kueuebee-ui.git
[submodule "bee-copy"]
	path = bee-copy
	url = git@github.com:ferditatlisu/bee-copy.git
[submodule "bee-search"]
	path = bee-search
	url = git@github.com:ferditatlisu/bee-search.git
[submodule "bee-pod-master"]
	path = bee-pod-master
	url = git@github.com:ferditatlisu/bee-pod-master.git
[submodule "bee-api"]
	path = bee-api
	url = git@github.com:ferditatlisu/bee-api.git
